.app {
  min-height: 100vh;
  background: var(--slate-100);
  padding: var(--spacing-7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  position: relative;
  flex-direction: column;
}

@media (max-width: 768px) {
  .app {
    padding: var(--spacing-4);
  }
}

@media (max-width: 480px) {
  .app {
    padding: var(--spacing-3);
  }
}
