.app {
  min-height: var(--viewport-full);
  background: var(--slate-100);
  padding: var(--spacing-7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  position: relative;
  flex-direction: column;
}

@media (max-width: var(--breakpoint-tablet)) {
  .app {
    padding: var(--spacing-4);
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  .app {
    padding: var(--spacing-3);
  }
}
