@import url("@/styles/variables.css");

/* Global resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-md);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--slate-100);
  color: var(--text-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: var(--viewport-full);
}

/* Selection styles */
::selection {
  background: var(--purple-200);
  color: var(--purple-800);
  text-shadow: none;
}

/* Button reset */
button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Input reset */
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Global scrollbar styles */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--border-radius-xs);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--scrollbar-track);
}
